/* src/styles/nav.css */

.primary-nav {
  position: relative;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
}

.nav-link.active {
  font-weight: bold;
  text-decoration: none;
}

.close-button {
  display: none;
}

/* 小螢幕樣式 */
@media (max-width: 50rem) {


  .nav-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: var(--header-bg);
    padding: 2rem 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }

  .nav-menu.open {
    transform: translateX(-300px);
  }

  .nav-menu li {
    margin: 1rem 0;
  }
  

  .nav-menu .close-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
  }

}