:root {
    --bg-color: #EDEDF9;
    --text-color: #333333;
    --header-bg: #EDEDF9;
    --footer-bg: #fafafa;
    --accent-color: #6949e9;
    --error-color: #cc0000;
  }
  
  .theme-dark {
    --bg-color: #222222;
    --text-color: #ffffff;
    --header-bg: #333333;
    --footer-bg: #444444;
    --accent-color: #a89bf9;
    --error-color: #ff6666;
  }
  